
.slide-1-image{
	background-image: url('/assets/images/slide_1_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.slide-2-image{
	background-image: url('/assets/images/slide_2_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.slide-3-image{
	background-image: url('/assets/images/slide_3_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.white{
	color: #fff;
}

.fp-controlArrow.fp-next{
	border-width: 0px;
	padding-right: 10px;
}

.fp-controlArrow.fp-prev{
	border-width: 0px;
	padding-left: 10px;
	left: 0;
}

.fp-controlArrow.fp-next:before{
	
	font-family: FontAwesome;
	content: "\f054";
	font-size: 25px;
	color: #5cb85c;
}

.fp-controlArrow.fp-prev:before{
	
	font-family: FontAwesome;
	content: "\f053";
	font-size: 25px;
	color: #5cb85c;
}

